## Part 2. SQL Review (Select statements)

<u>Overview</u>

Please watch the following videos
<ul>
<li> Introduction to Relational Databases (about 12 minutes): https://youtu.be/4h3buIkePnw . <br>
Consider - what is a database and what makes it "relational"?</li>
<li>Overview of the exemplar sndb.db (about 9 minutes): https://youtu.be/J3S5fLfyJ88 </li>
</ul>

Try it!

<u>For each of the following</u>, I will assume you are **in the terminal window, with sqlite running the sndb.db** as above.


*Format output*

In the terminal window, with sqlite running the sndb.db (as above) - lets set things up to display the query results in a nice format.

Use the **.header on** command to tell the system to display column names

Use the **.mode columns** command to format the results in columns

<img src="media/formatoutput.jpg">

### SQL Select statement (reading data)

<u>Overview</u>  https://youtu.be/jWGA0CD_NMc

Practice. Try running these queries in the sndb.db file.

*Simple queries*

    Select * from demog;

    Select ptname, pt_id from demog;

*Concatenation, limits*

Concatenation combines columns, or lets you add text to the data in the column. The "limit" clause restricts how many rows show up in our results. 

Still in the terminal window with sqlite running the sndb.db - try this query

    select ptname || ' zip: '||zip  as thepatient from demog limit 3;

*Distinct*

    Select gender from demog; 

    Select distinct gender from demog;

<u>WHERE clause</u>

*Overview* (4 minutes): https://youtu.be/kjRms4_iyvk

Practice
      
    Select pt_id, ptname from demog where ptname = 'Hall, Arsenio';

    Select count(*) from demog where gender is null;

*Table Joins* (11 min): https://youtu.be/XcEeR5mD-b4

This video shows the ANSI standard version of SQL for table joins, which does the join in the WHERE clause. You may have previously learned table joins in the FROM clause - that is also allowable by most DBMS. You can put the SQL on a single line or multiple lines in the terminal window

Practice

    SELECT d.pt_id, ptname, temper
    FROM demog d, vitals v
    WHERE d.pt_id = v.pt_id;
    
Multiple tables are joined in pairs

    SELECT d.pt_id, ptname, ad.diagnosis as admit, dc.diagnosis as discharge
    FROM demog d, adm_dx ad, dsc_dx dc
    WHERE d.pt_id = ad.pt_id
    AND d.pt_id = dc.pt_id;


*Conditions, predicate logic* (8 min): https://youtu.be/VoUFc-Yjgb0

Practice

    SELECT d.pt_id, ptname, HR
    FROM demog.d, vitals v
    WHERE d.pt_id = v.pt_id
    AND HR > 80;
    
    Select ptname from demog
    where zip IN ('20015', '21060', '23315');
    
    Select * from demog where ptname like 'Cr_stal%';

<u>Functions</u>

Sorting and grouping, functions (9 min): https://youtu.be/Ld2Uy4zF9Tg

Practice

    Select pt_id, temper from vitals
    order by pt_id, temper desc
    limit 20;

    select pt_id, temper from vitals
    order by cast(pt_id as integer), temper desc
    limit 20;
    
    Select count(SBP) as TheCount, min(SBP) as MinSBP, max (temper) as HighTemp From vitals;
    
    SELECT pt_id, count(SBP) as TheCount, min(SBP) as MinSBP, max (temper) as HighTemp
    FROM vitals
    GROUP BY pt_id
    HAVING count(SBP)>4
    limit 20;

<u>Miscellaneous</u>

Miscellaneous tidbits (8 min): https://youtu.be/eSVVE76CI4k

Practice

*Note there is a typo in the video on this query. Correct version is below*

    Select d.pt_id, ptname
    From demog d, vitals v
    Where d.pt_id=v.pt_id
    and temper > (Select avg(temper) from vitals);

## Next

You should have everything you need to do the homework. Remember to close the database using the **.exit** command. You should close the terminal window when you are finished, as well.